  header {
    height: 66px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
  }
  header h2 {
    margin: 0px;
    line-height: 66px;
  }
  header a {
    color: black;
  }

    .them-edit-link {
    position: absolute;
    top: 10px;
    right: 100px;
    color: black;
    font-size: 40px;
  }
  .them-edit-link a {
    text-decoration: none;
  }

  .github-link{
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
  }
