  header {
    height: 66px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
  }
  header h2 {
    margin: 0px;
    line-height: 66px;
  }
  header a {
    color: black;
  }

  .them-edit-link {
    position: absolute;
    top: 10px;
    right: 100px;
    color: black;
    font-size: 40px;
  }
  .them-edit-link a {
    text-decoration: none;
  }

  .github-link{
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 24px;
  }


  .actions {
    float: right;
    position: absolute;
    top: 10px;
    right: 60px;
    height: 40px;
    display: flex;
    gap: 10px;
    color: white;
    z-index: 5;
  }

  .btn-import {
    display: flex;
    font-size: 24px;
    width: 50px;
    align-items: center;
    justify-content: space-evenly;
    background: #e3195a;
    border-radius: 4px;
  }

  .btn-export {
    display: flex;
    font-size: 24px;
    width: 50px;
    align-items: center;
    justify-content: space-evenly;
    background: #555555;
    border-radius: 4px;
  }

  .btn-run {
    display: flex;
    font-size: 24px;
    width: 50px;
    align-items: center;
    justify-content: space-evenly;
    background: #555555;
    border-radius: 4px;
  }
